# Service keys
GOOGLE_API_KEY=
DEEPGRAM_API_KEY=
CARTESIA_API_KEY=

# Twilio credentials
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=

# Environment configuration
ENV=local
AGENT_NAME=twilio-chatbot-dial-out
ORGANIZATION_NAME=
LOCAL_SERVER_URL=https://your-url.ngrok.io