# Service keys
GOOGLE_API_KEY=**If not ruuning locally**
DEEPGRAM_API_KEY=

# Twilio credentials
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM_NUMBER=
TARGET_NUMBER=

# Environment configuration
ENV=local
AGENT_NAME=twilio-chatbot-dial-out
ORGANIZATION_NAME=
LOCAL_SERVER_URL=https://your-url.ngrok.io